.progress-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(green 75%, lightgray 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-circle span {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: black;
}
